<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163792335042-3ui2q4vg0sqr5h16qb902sfo6loqidia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163792335042-3ui2q4vg0sqr5h16qb902sfo6loqidia</string>
	<key>API_KEY</key>
	<string>AIzaSyCLQD799qdfjiI9DUMon1bTOy4Z8GwE2Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>163792335042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app-designer2.Remembers</string>
	<key>PROJECT_ID</key>
	<string>remembers-ffe35</string>
	<key>STORAGE_BUCKET</key>
	<string>remembers-ffe35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163792335042:ios:2e5c8daf807276cb548b5b</string>
	<key>DATABASE_URL</key>
	<string>https://remembers-ffe35.firebaseio.com</string>
</dict>
</plist>